@model FInalProject.DATA.EF.Application

@{
    ViewBag.Title = "Application Confirmed";
}
<div id="main">
    <h2>@ViewBag.Title</h2>

    <div>
        <h4>Thank you for applying!</h4>
        <hr />

        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ApplicationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApplicationDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UserDetail.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserDetail.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResumeFilename)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResumeFilename)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApplicationStatu.StatusName)
                    </dd>



                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.OpenPosition.Location.StoreNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OpenPosition.Location.StoreNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OpenPosition.Position.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OpenPosition.Position.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OpenPosition.Position.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmployeeNotes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmployeeNotes)
                    </dd>
                </dl>
            </div>
        </div>

    </div>
    <p>

        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary" })
    </p>
</div>