@model IEnumerable<FInalProject.DATA.EF.Application>

@{
    ViewBag.Title = "Applications";
}

<div id="main">
    <h2>@ViewBag.Title</h2>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
            </td>


            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ApplicationID }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID })
            </td>
        </tr>
        }

    </table>
</div>