@model IEnumerable<FinalProject.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Users Admin";
}

@section css{
    <link href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/custom-datatables-styling.css" rel="stylesheet" />
}
<div id="main">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create User", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts{

    <!-- Place scripts below jQuery (jQuery may already be referenced in your project) -->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $.fn.dataTable.Responsive.breakpoints = [
            { name: 'desktop', width: Infinity },
            { name: 'tablet', width: 768 },
            { name: 'phone', width: 480 }
        ];

        $(document).ready(function () {
            $('#dataTable').DataTable({
                responsive: true
            });
        });
    </script>

}