@model IEnumerable<FInalProject.DATA.EF.OpenPosition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsFeature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.StoreNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsFeature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.StoreNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OpenPositionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OpenPositionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OpenPositionID })
        </td>
    </tr>
}

</table>
