@model IEnumerable<FInalProject.DATA.EF.OpenPosition>

@{
    ViewBag.Title = "Open Positions";
}

@section css{
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
}

<div id="main">
    <h2>@ViewBag.Title</h2>

    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <p>
            @Html.ActionLink("Add Opening", "Create", null, new { @class = "btn btn-primary" })
        </p>
    }
    <table class="table" id="dataTable">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Location.StoreNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Location.StoreNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.Title)
                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.OpenPositionID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionID })
                        </td>
                    }
                    @if (User.IsInRole("Employee"))
                    {
                        <td>
                            @Html.ActionLink("Position Details", "Details", new { id = item.OpenPositionID }, new { @class = "btn btn-primary" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{

    <!-- Place scripts below jQuery (jQuery may already be referenced in your project) -->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
             
            });
        });
    </script>
}